extends layout

block content
  h2= title
  div#countryLinks
    a(name="cn") 中国
    a(name="en") 英国
    a(name="us") 美国
    a(name="de") 德国
    a(name="fr") 法国
  br
  br
  div#peopleLinks
    a(name="nb") 拿破仑 

  div#dynastyTimeline

  
