doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/javascripts/timeline-290/timeline.css")
  body
    block content
    
    script(src='/javascripts/Chart.js')
    script(src='/javascripts/jquery-2.1.1.js')
    script(src='/javascripts/timeline-290/timeline.js')
    script(src='/javascripts/dynasty.js')
    script(src='/javascripts/main.js')